{% extends 'base.html.twig' %} {% block title %}Event{% endblock %} {% block
body %}
<div class="container">
  <div class="row">
    <div class="col-md-7 py-3">
      <h1>{{ event.name }}</h1>
      <div class="d-flex gap-3">
        <h6
          class="border rounded-pill py-2 px-4"
          style="border-color: var(--violet) !important"
        >
          <span
            style="color: var(--violet)"
            >{{ event.startDate|date('d/m/Y') }}</span
          >
          -
          <span
            style="color: var(--violet)"
            >{{ event.endDate|date('d/m/Y') }}</span
          >
        </h6>
        <h6
          class="border rounded-pill py-2 px-4"
          style="border-color: var(--bg-orange) !important"
        >
          <span style="color: var(--bg-orange)">{{ event.location }}</span>
        </h6>
      </div>

      <div>
        <p class="text-capitalize">
          organisé par
          <span style="color: var(--violet)"
            >{{ event.organizer.firstname }}
            {{ event.organizer.lastname }}</span
          >
        </p>
      </div>
      <div class="py-3">
        <p>
          {{ event.description }}
        </p>
      </div>
    </div>

    <a href="{{ path('app_event_index') }}">back to list</a>
    <a href="{{ path('app_event_edit', { id: event.id }) }}">edit</a>
    {% if app.user and app.user.id == event.organizer.id %}
    {{ include("event/_delete_form.html.twig") }}
    {% endif %}
  </div>
</div>
{% endblock %}
