<div class="container">
  <h1>Votre paiement a été validé</h1>
  <div class="card">
    <div class="card-body">
      <p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

      <p>Votre paiement a été validé pour l'événement {{ event.name }}.</p>

      <p>
        Pour accéder à l'événement, veuillez cliquer sur le lien ci-dessous :
      </p>

      <a href="{{ url('app_event_show', { id: event.id }) }}"
        >Accéder à l'événement</a
      >

      <p>Merci pour votre confiance,</p>

      <p>L'équipe de {{ app.name }}</p>
    </div>
  </div>
</div>
