{% block javascripts %}
		<script src="{{ asset('js/menu.js') }}" type="module"></script>
{% endblock %}

<header>
	{% set _route = app.request.get('_route') %}
	{% set navItems =  [
        {'route': 'app_discover', 'title': 'Découvrir'},
        {'route': 'app_details', 'title': 'A propos'},
        {'route': 'app_event_index', 'title': 'Créer un événement'},
    ] %}
	<nav class="navbar d-flex justify-content-between align-items-center">
		<div class="container py-2">
			<a href="{{ path('app_home') }}" class="navbar-brand">
				<img src="{{ asset('img/SkillShare.svg') }}" alt="SkillShare">
			</a>
			<ul class="nav">
				{% for item in navItems|slice(0, 2) %}
					<li class="nav-item mx-3">
						<a class="btn border border-dark rounded-pill nav-link py-1" {% if not is_granted('IS_AUTHENTICATED_FULLY') %} data-bs-toggle="modal" data-bs-target="#modalLogin" href="#" {% else %} href="#" {% endif %}>
							{{ item.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="nav">
				{% for item in navItems|slice(2) %}
					<li class="nav-item mx-3">
						<a class="btn border border-dark rounded-pill nav-link py-1" {% if not is_granted('IS_AUTHENTICATED_FULLY') %} data-bs-toggle="modal" data-bs-target="#modalLogin" href="#" {% else %} href="{{ path("app_event_new") }}" {% endif %}>
							{{ item.title }}
						</a>
					</li>
				{% endfor %}
				<li class="nav-item mx-3">
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<a class="btn btn-connexion rounded-pill py-1" data-bs-toggle="modal" data-bs-target="#modalLogin" href="#">Connexion</a>
					{% endif %}
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<a class="btn btn-connexion rounded-pill py-1" href="{{ path('app_logout') }}">Déconnexion</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</nav>
	{% include 'login/modal.html.twig' %}
</header>
