{% extends 'security/email/base.html.twig' %}

{% block title %}{{ subject }}{% endblock %}
{% block preheader %}{{ subject }}{% endblock %}

{% block body %}
     <h2>Code de vérification</h2>
     <p style="font-weight: bold;">{{ authCode }}</p>
     <p>Ce code expirera le {{ expiresAt|date('d/m/Y') }} à {{ expiresAt|date('H:i') }}.</p>
{% endblock %}
